services:
  catalogue:
    build: 
      context: ./catalogue
      dockerfile: Dockerfile
    image: kiransaiveerandi/catalogue:v1
    container_name: catalogue
    depends_on: 
     - mongodb
  mongodb:
    build: ./mongodb
    image: kiransaiveerandi/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  redis:
   image: redis:7.0
   container_name: redis
   volumes:
   - redis:/data
  mysql:
   build: ./mysql
   image: kiransaiveerandi/mysql:v1
   container_name: mysql
   volumes:
   - mysql:/var/lib/mysql
  rabbitmq:
   image: rabbitmq:3
   container_name: rabbitmq
   volumes: # -v rabbitmq:/var/lib/rabbitmq
   - rabbitmq:/var/lib/rabbitmq
   environment:
    RABBITMQ_DEFAULT_USER: roboshop
    RABBITMQ_DEFAULT_PASS: roboshop123
  user:
   build: ./user
   image: kiransaiveerandi/user:v1
   container_name: user
   depends_on:
   - mongodb
   - redis
  cart:
   build: ./cart
   image: kiransaiveerandi/cart:v1
   container_name: cart
   depends_on:
   - redis
   - catalogue
  shipping:
   build: ./shipping
   image: kiransaiveerandi/shipping:v1
   container_name: shipping
   depends_on:
   - mysql
   - cart
  payment:
   build: ./payment
   image: kiransaiveerandi/payment:v1
   container_name: payment
   depends_on:
   - rabbitmq
   - cart
   - user
  frontend:
   build: ./frontend
   image: kiransaiveerandi/frontend:v1
   container_name: frontend
   ports:
   - "80:80"
   depends_on:
   - catalogue
   - cart
   - user
   - payment
   - shipping

networks:
 default:
  driver: bridge
  name: roboshop
  external: false # true if manually created network using network cmnd

volumes:
 mongodb: # docker volume create mongodb. /var/lib/docker/volumes
 redis:
 mysql:
 rabbitmq: